$lightBlue: #2196f3;
$darkBlue: #0d47a1;
$transparentBlue: #e3f2fd90;

.exercise {
  width: 100%;
  height: 56%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
.helperPics {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  position: relative;

  img {
    background: $lightBlue;
  }
}
.setContainer {
  display: grid;
  place-content: center;
  width: 100%;
  height: 3em;
}
