.exercise {
  width: 100%;
  height: 56%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
.helperPics {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  position: relative;
}
