.signUpPage {
  width: 100vw;
  height: 100vh;
  background: url("../../public/assets/kristijan-arsov--ko0PAx_peo-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signUpForm {
  background: #fefefe;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
}
