.landingPage {
  box-sizing: border-box;
  padding-top: 70px;
  width: 100vw;
  height: 100vh;
  background: url("../public/assets/edgar-chaparro-_T-D4Bb-H88-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}

.landingHeader {
  font-size: 44px;
}

.headerContainer {
  padding: 0;
  color: #fefefe;
  width: 80%;
  background: #0d478190;
  backdrop-filter: blur(15);
  border-radius: 4px;
  animation: fade 1s;
}
.headerContainer p {
  color: #e3f2fd;
}
@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
