.workoutPage {
  width: 100vw;
  height: 100vh;
  padding-top: 64px;
  background: #212121;
  display: grid;
  place-content: center;
  background: url("../../public//assets//austris-augusts-viN6rw0uAmU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.workoutPage .workoutContainer {
  padding: 16px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  width: 640px;
  height: calc(100vh - 64px);
}

@media (max-width: 639) {
  .workoutContainer {
    width: 95%;
  }
}
