.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  animation: waves 0.4s linear infinite;
}

.loadingBox {
  width: 100%;
}

@keyframes waves {
  0% {
    background: linear-gradient(#64b5f6, #1976d2);
  }
  100% {
    background: linear-gradient(#1976d2, #64b5f6);
  }
}
